:root { 
--cyan_A400:#00d5f8; 
--blue_gray_50:#e7f1f2; 
--red_200:#ed9e93; 
--red_300:#df857d; 
--blue_A200:#3e7fff; 
--black_900_3f:#0000003f; 
--teal_300:#53bcc1; 
--black_900:#000000; 
--teal_700:#1a7b6e; 
--blue_gray_800:#373050; 
--blue_gray_900_01:#202249; 
--blue_gray_900:#251e35; 
--deep_purple_A200:#7047eb; 
--red_A700:#d0011b; 
--blue_gray_900_85:#26323885; 
--purple_300:#a46da0; 
--gray_600:#707070; 
--gray_700:#606060; 
--gray_400:#cfc7bf; 
--lime_400:#d2bc58; 
--orange_A200:#ff8f48; 
--blue_gray_100:#d9d7d1; 
--blue_gray_300:#90a4ae; 
--orange_A700:#ff6400; 
--gray_900:#222222; 
--gray_900_01:#232224; 
--gray_300:#e3e1db; 
--indigo_300:#6483c9; 
--white_A700_01:#fffefe; 
--indigo_A400:#3d5edd; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--gray_700_01:#5e5e5e; 
}